<!-- Sample Woodworking Utilities Header -->
<html>
 <head>
    <title>Woodworking Utilities</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>
    
	<script type='text/javascript' src='js/ng/units.module.js'></script>
	<script type='text/javascript' src='js/ng/segmented.module.js'></script>
    <script type='text/javascript' src='js/ng/utility.module.js'></script>
 </head>
 <body class="d-flex flex-column h-100">
    <!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">

<h1 class="mt-5">Segmented Bowl Ring Calculator</h1>

 <div class="row">
	<div class="col-sm-6">
        <img src="images/segment.200x100.png" alt="Dimensions of segments - Bowl Ring Calculator" class="pull-right" />
    </div>
</div>
<div class="row">
	<div class="col-sm-16">
        The following calculator calculates dimensions of segmented bowl rings.		
	</div>
</div>
<div class="row">
	<div class="col-sm-6">&nbsp;</div>
</div>

<div class="row">
	<div class="col-sm-6 col-xs-12">

<div ng-app="lec.utility" ng-controller="lec.utility.controller.segmentedBowlRingCalculator">

    <div ng-cloak class="form" role="form" >
        <div class="form-group">
            <div class="form-inline">
                <label class="control-label">
                    Units:
                </label>&nbsp;
                <label><input type="radio" name="units" ng-change="measurementTypeChange()" value="e" ng-model="form.units"/>&nbsp;inches</label>
                &nbsp;
                <label><input type="radio" name="units" ng-change="measurementTypeChange()" value="m"  ng-model="form.units" />&nbsp;cm</label>
            </div>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="calcdiameter">
                Segmented ring diameter after turning:
            </label>
            <div class="form-inline">
                <select name="calcdiameter" class="form-control" ng-model="form.diameter">
                    <option value="-1">Choose...</option>
                    <option ng-repeat="d in rangeDiameters" value="{{ d.value }}">{{ d.display }}</option>
                </select><label class="control-label">&nbsp;<span class="unitsdisplay label label-primary">{{ form.unitsdisplay }}</span></label>
            </div>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="calcnumsegments">
                Number of segments in ring:
            </label>
            <select name="calcnumsegments" class="form-control" style="width: auto;" ng-model="form.numberSegments">
                <option value="-1">Choose...</option>
                <option ng-repeat="s in rangeSegments" value="{{ s }}">{{ s }}</option>
            </select>
        </div>
    
        <div class="form-group">
            <label class="control-label" for="widthRingSegment">
                Ring segment width (ref. image above):
            </label>
            <div class="form-inline">
                <select name="widthRingSegment" class="form-control" ng-model="form.width">
                    <option value="-1">Choose...</option>
                    <option ng-repeat="w in rangeWidths" value="{{ w.value }}">{{ w.display }}</option>
                </select><label class="control-label">&nbsp;<span class="unitsdisplay label label-primary">{{ form.unitsdisplay }}</span></label>
            </div>
        </div>
    
        <div class="form-group">
            <div class="form-inline">
                <button ng-click="calculate()" class="btn btn-primary btn-md btn-color" role="button">Calculate</button>
                &nbsp;&nbsp;<span style="color: red; font-weight: bold">{{ strResults }}</span>
            </div>
        </div>
    </div>
    
    <div ng-cloak ng-show="showresult">
        <span class="glyphicon glyphicon-asterisk"></span> <strong>RESULTS</strong> <span class="glyphicon glyphicon-asterisk"></span>
        <div class="bg-success p-3">
            <span style="color: black; font-weight: bold">Segment Cut Angle:</span> {{ strCutAngle }}<br />
            <span style="color: red; font-weight: bold">A: Max diameter of segmented ring:</span> {{ strDiameterMax }} <br />
            <span style="color: blue; font-weight: bold">B: Diameter of ring after turning:</span> {{ strDiameter }}<br />
            <span style="color: purple; font-weight: bold">C: Segment length:</span> {{ strLength }}<br />
            <span style="color: orange; font-weight: bold">D: Segment width:</span> {{ strWidth }}<br />
        </div>
        <div style="margin-top: 5px;" segmented-ring></div>
    </div>
    

</div>

	</div>
</div>

</div>
</main>
<!-- Sample Woodworking Utilities Footer -->
</body>
</html>